.home-body {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 3fr 1fr  ;
    /* justify-content: center; */
    /* align-content: center; */
    background-color: rgb(206, 209, 208); 
    /* border: rgb(236, 8, 160);
    border-style: solid; */

}

/* .home-body * {
    border-style: dotted;
    border-width: thick;
    border-color: red;
} */
.countdown{
    padding-top: 20px;
    grid-row: 1;
    grid-column: 1;
    background-color: rgba(14, 241, 165, 0.192);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result {
    display: flex;
    /* justify-content: center; */
    /* border: rgb(42, 216, 36);
    border-style: solid; */
    grid-column: 1;
    grid-row: 2;
    /* align-items: center; */
}

.image-box {
    background-color: rgba(255, 255, 255, 0);
    border: rgb(84, 85, 87); 
    border-style: solid;
    /* padding: 20px 0px 0px 10px; */
    /* margin: 20px 0px 0px 10px ; */
    /* border-radius: 20px; */
    /* border-width: 15px; */
    width: 70vw;
    height: 70vh;
    grid-row: 1 ;
    grid-column: 2  ; 
}
@media screen and (max-width: 1200px) {
    .home-body{
        display: flex;
        flex-direction: column;
    }
    .image-box {
        width: 100vw;
        height: 50vh;
    }

  }
.image{
    box-shadow: 0px -40px 100px rgba(0, 0, 0, 0.582);
    width: 100%;
    height:100%;
    /* display: block; */
    /* object-fit: scale-down; */
}

.options-box {
    /* align-self: center; */
    /* justify-self: center; */
    grid-row: 2;
    grid-column: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* width: 70vw; */
    /* height: 20vh; */
    /* margin-left: 2vw ; */
    justify-content: space-around;
}

@media screen and (max-width: 500px) {
    .image-box{
        width: 100vw;
        height: 50vh;
    }
}

.next-button{
    align-self: center;
    justify-self: center;
    /* margin-left: 1vw; */
    /* margin-right: 1vw; */
    padding: 20px;

    grid-row: 2;
    grid-column: 3;


}
.normal{
    background-color: chartreuse;
}

.greyed{
    background-color: rgb(99, 99, 99);
    color: floralwhite;
}



