.button-container{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    margin: 5px 0px;
    display: flex;
    justify-content: center;
}

.option {
    padding: 0.5em 1em;
    border-radius: 10px;
    /* position: absolute; */
    width: 50%;
    /* font-size: 1rem; */
    /* padding-top: 5px;
    padding-right: 30px;
    border-radius: 30px;
    border-style: solid; */
}
.normal{
    background-color: turquoise;
    color: black;
}
.greyed{
    background-color: rgb(78, 156, 148);
}
.red{
    background-color: red;
    color: white;
}
.green{
    background-color: greenyellow;
}


/* input[type="radio"]{
    margin: 0 35px 0 0;
  } */
/* @media screen and (max-width: 1200px) {
    input[type="radio"]{
        margin: 0 0 0 0;
    }
    .optionLabel {
        margin:0;
        padding:0;
    }
} */